.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.avatar-lg {
  object-fit: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.avatar-xl {
  object-fit: cover;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
